<!doctype html>
<title>Search Engine API</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>

<article>
    <h1>This is the search-engine API!</h1>
    <div>
      <p>Welcome to this project, this is an integrator API which you can fetch data from Google and Bing search engines. If you are not sure how it works read this <a target="_blank" href="https://documenter.getpostman.com/view/155029/TW6uppCY">documentation</a></p>
      <p>&mdash; Eduardo Escobar</p>
    </div>
</article>